<header class="header-6">
    <div class="branding">
        <a href="javascript://" class="nav-link" routerLink="/">
            <clr-icon shape="icon-cogs"></clr-icon>
            <span class="title">Application</span>
        </a>
    </div>
    <div class="header-nav">
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="icon-search" size="16"></clr-icon>
        </a>
        <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="icon-question" size="16"></clr-icon>
        </a>
        <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="icon-bell" size="16"></clr-icon>
          <span class="badge badge-danger" style="float: right;position: relative;top: 14px;left: 0px;">15</span>
        </a>
        <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="icon-user" size="16"></clr-icon>
        </a>
    </div>
</header>
