<ul id="demoTabs" class="nav" role="tablist">
  <li role="presentation" class="nav-item ">
    <button class="btn btn-link nav-link" id="home-view" type="button">Home</button>
  </li>
</ul>



<section aria-labelledby="home-view" role="tabpanel" aria-labelledby="tab1" style="padding-right:20px">
  <div class="row">
    <div class="col-xs-2" *ngFor="let card of cards">
      <a class="card clickable" [routerLink]="card.route" [@flyInOut]="state">
        <div class="card-block">
          <div style="margin:20px">
            <div style="text-align: center;"><clr-icon [attr.shape]="card.shape" size="32"></clr-icon></div>
            <div style="text-align: center;">{{card.title}}</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>






